html {
  box-sizing: border-box;
  font-family: ABCSans, sans-serif;
}

html *,
html *::before,
html *::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  max-width: 40rem;
  background-color: #fcfcfc;
}

body > * {
  margin: 2rem 0;
}

@media (min-width: 40rem) {
  body > * {
    margin: 3rem 0;
  }
}
